# Configurações do CLion / IntelliJ
.idea/

# Pastas de compilação do CMake
cmake-build-debug/
cmake-build-release/
build/

*CMakeLists.txt

# Ignorar binários compilados nas pastas de exercícios (Linux/macOS)
beecrowd/*
!beecrowd/*/
!beecrowd/**/*.c
!beecrowd/**/*.h

CodeAbbey/*
!CodeAbbey/*/
!CodeAbbey/**/*.c
!CodeAbbey/**/*.h

Personal/*
!Personal/*/
!Personal/**/*.c
!Personal/**/*.h

